.btn {
  background: #4e3311;
  color: white;
  padding: 0.25rem 0.9rem;
  border-radius: 0.55rem;
  border: 2px solid transparent;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s linear;
}

.btn:hover {
  background: #95744a;
  color: #fff;
  border: 2px solid #95744a;
}

.dismissBtn {
  border: 2px solid #4e3311;
  background: transparent;
  color: #4e3311;
}

.dismissBtn:hover {
  border: 2px solid #b0916a;
  color: #b0916a;
  background: transparent;
}
